<%- include('./base/header.ejs') %>
    <%- include('./base/nav.ejs') %>

        <body class="bg-dark ">
            <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
                <div class="row bg-light shadow rounded overflow-hidden" style="width: 500px;">

                    <div class="p-5">
                        <h3 class="text-center mb-4">Register</h3>
                        <form action="/edit/student/<%= student._id %>" method="post">
                            <div class="mb-3">
                                <label class="form-label">Roll No:</label>
                                <input type="text" class="form-control" name="rollNo" value="<%= student.rollNo %>" placeholder="Enter your rollNo">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Name:</label>
                                <input type="text" class="form-control" name="name" value="<%= student.name %>" placeholder="Enter your name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Father Name:</label>
                                <input type="text" class="form-control" name="fatherName" value="<%= student.fatherName %>"
                                    placeholder="Enter your father's name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> Course:</label>
                                <input type="text" class="form-control" value="<%= student.course %>" list="courses" name="course"
                                    placeholder="Select course">
                                <datalist id="courses">
                                    <option value="B.Tech">
                                    <option value="MBA">
                                    <option value="MCA">
                                    <option value="Diploma">
                                </datalist>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> Branch:</label>
                                <input type="text" class="form-control" value="<%= student.branch %>" list="branchs" name="branch" placeholder="Select branch">
                                <datalist id="branchs">
                                    <option value = "Computer Science">
                                    <option value = "Information Technology">
                                    <option value = "Mechanical">
                                    <option value = "Electrical">
                                    <option value = "Finance">
                                    <option value = "Marketing">
                                    <option value = "HR">
                                    <option value = "Software Engineering">
                                    <option value = "Data Science">
                                    <option value = "Artificial Intelligence">
                                    <option value = "Computer Engineering">
                                    <option value = "Mechanical Engineering">
                                    <option value = "Electronics">
                                </datalist>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Admission Year:</label>
                                <input type="number" class="form-control" id="year" name="yearOfAdmission" value="<%= student.yearOfAdmission %>" min="1900"
                                    max="2025" placeholder="Select year">
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    I agree that the information provided by me is correct.
                                </label>
                            </div>

                            <input type="submit" value="Edit Student" class="btn btn-warning w-100 mb-3">
                        </form>
                    </div>

                </div>
            </div>
        </body>
        <%- include('./base/footer.ejs') %>