<%- include('./base/header.ejs') %>
<%- include('./base/nav.ejs') %>
 <div class="container">
         <div class="alert text-center bg-light my-3" style="color: black;">
            <h4>Student List</h4>
         </div>
  </div>
  

  <div class="container">
  <table class ="table text-center">
    <thead>
        <tr>
            <th>Student photo</th>
            <th>RollNo</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Father Name</th>
            <th>Mother Name</th>
            <th>Course</th>
            <th>Branch</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        <% students.forEach((student)=>{%>
            <tr>
                <td><img src="<%= student.studentImage %>" width="50px" height="50px"></td>
                <td><%= student.rollNo %></td>
                <td><%= student.name %></td>
                <td><%= student.emailId %></td>
                <td><%= student.fatherName %></td>
                <td><%= student.motherName %></td>
                <td><%= student.course %></td>
                <td><%= student.branch %></td>
                <td>
                    <a href="/edit/student/page/<%= student._id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                     <a href="/delete/student/<%= student._id %>" class ="btn btn-danger">Delete</a>
                </td>

            </tr>

        <%})%>

    </tbody>
  </table>
  </div>


<%- include('./base/footer.ejs') %>